In [2]:
import pandas as pd
import numpy as np

In [54]:
y = 6

### 1. solar power generation

In [55]:
excel_file = pd.ExcelFile(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/realne_report_solar_30_y0000{y}_20220301_20230228.xlsx")

data = pd.DataFrame()

# Loop through all sheets in the Excel file
for sheet_name in excel_file.sheet_names:
    # Load the sheet as a DataFrame
    df = excel_file.parse(sheet_name)
    
    # Add a new column to the DataFrame
    df["new_column_name"] = sheet_name
    columns = list(df.loc[4].values[:-1])
    columns.append('date')
    
    df.drop([0,1,2,3,4],inplace=True)
    df.reset_index(drop=True,inplace=True)
    df.columns = columns
    df.date = pd.to_datetime(df.date + ' ' + df.時刻, format="%Y-%m-%d %H:%M")
    df.drop('時刻', axis=1, inplace=True)
    data = pd.concat([data, df])

## 2. power consumption

In [56]:
excel_file1 = pd.ExcelFile(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/realne_report_surplus30p_y0000{y}_20220301_20230228.xlsx")

surplus_data = pd.DataFrame()

# Loop through all sheets in the Excel file
for sheet_name in excel_file1.sheet_names:
    # Load the sheet as a DataFrame
    df = excel_file1.parse(sheet_name)
    
    # Add a new column to the DataFrame
    df["new_column_name"] = sheet_name
    columns = list(df.loc[4].values[:-1])
    columns.append('date')
    
    df.drop([0,1,2,3,4],inplace=True)
    df.reset_index(drop=True,inplace=True)
    df.columns = columns
    df.date = pd.to_datetime(df.date + ' ' + df.時刻, format="%Y-%m-%d %H:%M")
    df.drop('時刻', axis=1, inplace=True)
    surplus_data = pd.concat([surplus_data, df])

## 3. battery power

In [57]:
excel_file2 = pd.ExcelFile(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/realne_report_battery30_y0000{y}_20220301_20230228.xlsx")

battery_data = pd.DataFrame()

# Loop through all sheets in the Excel file
for sheet_name in excel_file2.sheet_names:
    # Load the sheet as a DataFrame
    df = excel_file2.parse(sheet_name)
    
    # Add a new column to the DataFrame
    df["new_column_name"] = sheet_name
    columns = list(df.loc[4].values[:-1])
    columns.append('date')
    
    df.drop([0,1,2,3,4],inplace=True)
    df.reset_index(drop=True,inplace=True)
    df.columns = columns
    df.date = pd.to_datetime(df.date + ' ' + df.時刻, format="%Y-%m-%d %H:%M")
    df.drop('時刻', axis=1, inplace=True)
    battery_data = pd.concat([battery_data, df])

## 4. cloud

In [58]:
v1_cloud = pd.read_csv(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/cloud_y0000{y}.csv")
v1_cloud.index = pd.to_datetime(v1_cloud.target_date)
v1_cloud.drop(['execution_date','target_date'],axis=1,inplace=True)

## 5. solar

In [59]:
v1_solar = pd.read_csv(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/solar_y0000{y}.csv")
v1_solar.index = pd.to_datetime(v1_solar.target_date)
v1_solar.drop(['execution_date','target_date'],axis=1,inplace=True)

## 6. weather

In [60]:
v1_weather = pd.read_csv(f"../raw data/2023_devday_data-20230320T123236Z-001/2023_devday_data/y{y}/weather_forecast_y0000{y}.csv")
v1_weather.index = pd.to_datetime(v1_weather.target_date)
v1_weather.drop(['execution_date','target_date'],axis=1,inplace=True)

## 7. merge data

In [61]:
data.sort_values(by='date',inplace=True)
surplus_data.sort_values(by='date',inplace=True)
battery_data.sort_values(by='date',inplace=True)
final_v1 = pd.merge(data, surplus_data, how='outer', on='date')
final_v1 = pd.merge(final_v1, battery_data, how='outer', on='date')
final_v1.index = final_v1.date
final_v1 = final_v1.tz_localize('Japan')

v1_cloud = v1_cloud.tz_convert('Japan')
v1_solar = v1_solar.tz_convert('Japan')
v1_weather = v1_weather.tz_convert('Japan')
final_v1 = pd.merge(final_v1, v1_cloud, how='outer', left_index=True, right_index=True)
final_v1 = pd.merge(final_v1, v1_solar, how='outer', left_index=True, right_index=True)
final_v1 = pd.merge(final_v1, v1_weather, how='outer', left_index=True, right_index=True)

## 7. save data

In [62]:
final_v1.to_csv(f'y{y}.csv')

In [63]:
final_v1

,30001（Wh）,30011（Wh）,30021（Wh）,30031（Wh）,30041（Wh）,date,30101:電力量（Wh）,30101:回生電力量（Wh）,NaN,40001 蓄電（Wh）,40001 放電（Wh）,40201 蓄電（Wh）,40201 放電（Wh）,cloud(%),solar(W/m2),telop_code,telop_name
2022-03-01 00:00:00+09:00,0,0,0,0,0,2022-03-01 00:00:00,34618,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 00:30:00+09:00,0,0,0,0,0,2022-03-01 00:30:00,33863,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 01:00:00+09:00,0,0,0,0,0,2022-03-01 01:00:00,32030,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 01:30:00+09:00,0,0,0,0,0,2022-03-01 01:30:00,32155,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 02:00:00+09:00,0,0,0,0,0,2022-03-01 02:00:00,30584,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-01 21:30:00+09:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,22.0,くもり
2023-03-01 22:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,22.0,くもり
2023-03-01 22:30:00+09:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,22.0,くもり
2023-03-01 23:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,22.0,くもり
2023-03-01 23:30:00+09:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,0.0,22.0,くもり